@charset "UTF-8";
@font-face {
    font-family:"Pretendard Variable";
    font-weight:45 920;
    font-style:normal;
    src:url("./../fonts/PretendardVariable.woff2") format("woff2");
}
/* Reset & Base Styles */
/* ************************* reset ************************* */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display:block;}
html{font-size:62.5%;}
body {line-height:1;}
body, button, input, textarea, select, table{font-family:"Pretendard Variable", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;outline:none;}
ol, ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none;}
table {border-collapse:collapse;border-spacing:0;}
input{border:none;}
*, *::before, *::after {box-sizing:border-box;}
*:focus{outline:1px solid red;}
/* ************************* 변수 ************************* */
:root{
    /* color - bg */
    --bg-color-default:#E2E8F0;
    --bg-color-prime:#667eea;
    --bg-color-sheer:#F6F7FE;
    /* color - font */
    --font-color-prime:#667eea;
    /* color - border */
    --border-color-default:#e0e0e0;
    --border-color-prime:#667eea;
    /* color - replace */
    --replace-333333:#1E293B;
    --replace-666666:#606C7E;
    --replace-999999:#94A3B8;
    --replace-e0e0e0:#E2E8F0;
    --replace-cccccc:#CBD5E1;
    --replace-757575:#718096;
    --replace-000000:#1A202C;
    --replace-f5f5f5:#F8FAFC;
    --replace-f9f9f9:#F9FAFE;
    /* color - point */
    --point-red:#F56565;
    --prime-color-hanhwa:#FF6600;
    --prime-color-doosan:#131230;
    --prime-color-lg:#C30452;
    --prime-color-kt:#121212;
    --prime-color-ssg:#CE0E2D;
    --prime-color-nc:#1D467D;
    --prime-color-kiwoom:#570514;
    --prime-color-kia:#EA0029;
    --prime-color-lotte:#041E42;
    --prime-color-samsung:#074CA1;
    /* box-shadow */
    --boxshadow-default:0px 4px 12px 0px rgba(26, 32, 44, 0.1);
    --boxshadow-sm:0px 2px 9px 0px rgba(0,0,0,0.05);
    /* 레이아웃 */
    --layout-btm-height:0px;
    --layout-header-height:0px;
}
body.hanhwa {
    --bg-color-prime:#FF6600;
    --bg-color-sheer:#FFF8F0;
    --border-color-prime:#FF6600;
    --font-color-prime:#FF6600;
}
body.doosan {
    --bg-color-prime:#131230;
    --bg-color-sheer:#F1F1F3;
    --border-color-prime:#131230;
    --font-color-prime:#131230;
}
body.lg {
    --bg-color-prime:#C30452;
    --bg-color-sheer:#FBF0F5;
    --border-color-prime:#C30452;
    --font-color-prime:#C30452;
}
body.kt {
    --bg-color-prime:#121212;
    --bg-color-sheer:#F1F1F1;
    --border-color-prime:#121212;
    --font-color-prime:#121212;
}
body.ssg {
    --bg-color-prime:#CE0E2D;
    --bg-color-sheer:#FCF1F2;
    --border-color-prime:#CE0E2D;
    --font-color-prime:#CE0E2D;
}
body.nc {
    --bg-color-prime:#1D467D;
    --bg-color-sheer:#F1F4F7;
    --border-color-prime:#1D467D;
    --font-color-prime:#1D467D;
}
body.kiwoom {
    --bg-color-prime:#570514;
    --bg-color-sheer:#F5F0F1;
    --border-color-prime:#570514;
    --font-color-prime:#570514;
}
body.kia {
    --bg-color-prime:#EA0029;
    --bg-color-sheer:#FEF0F2;
    --border-color-prime:#EA0029;
    --font-color-prime:#EA0029;
}
body.lotte {
    --bg-color-prime:#041E42;
    --bg-color-sheer:#F0F2F4;
    --border-color-prime:#041E42;
    --font-color-prime:#041E42;
}
body.samsung {
    --bg-color-prime:#074CA1;
    --bg-color-sheer:#F0F4F9;
    --border-color-prime:#074CA1;
    --font-color-prime:#074CA1;
}
/* ************************* 기능 ************************* */
.hide{display:none !important;}
.bold{font-weight:700 !important;}
.semibold{font-weight:600 !important;}
.ally-hidden{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);white-space:nowrap;border:0;}