@charset "UTF-8";
@import url(./common.css);

body {display:flex;justify-content:center;align-items:center;padding:20px;min-height:100vh;font-family:"Pretendard",-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;background:linear-gradient(135deg, #667eea 0%, #764ba2 100%);}