@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");/*폰트*/
/* Reset & Base Styles */
/* ************************* reset ************************* */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display:block;}
html{font-size:62.5%;}
body {line-height:1;}
ol, ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none;}
table {border-collapse:collapse;border-spacing:0;}
*,
*::before,
*::after {box-sizing:border-box;}
/* ************************* 변수 ************************* */
:root{
    --bg-color-prime:#667eea;
    --font-color-prime:#667eea;
    --border-color-prime:#667eea;
    --box-shadow-15:0 4px 12px rgba(0,0,0,0.15);
}
body.hanhwa {
    --bg-color-prime:#FF6600;
    --border-color-prime:#FF6600;
}
body.doosan {
    --bg-color-prime:#131230;
    --border-color-prime:#131230;
}
body.lg {
    --bg-color-prime:#C30452;
    --border-color-prime:#C30452;
}
body.kt {
    --bg-color-prime:#121212;
    --border-color-prime:#121212;
}
body.ssg {
    --bg-color-prime:#CE0E2D;
    --border-color-prime:#CE0E2D;
}
body.nc {
    --bg-color-prime:#1D467D;
    --border-color-prime:#1D467D;
}
body.kiwoom {
    --bg-color-prime:#570514;
    --border-color-prime:#570514;
}
body.kia {
    --bg-color-prime:#EA0029;
    --border-color-prime:#EA0029;
}
body.lotte {
    --bg-color-prime:#041E42;
    --border-color-prime:#041E42;
}
body.samsung {
    --bg-color-prime:#074CA1;
    --border-color-prime:#074CA1;
}