@charset "UTF-8";
@import url(./layout.css);

/* *********************** icons - icon *********************** */
.ico-greeting{background-image:url("./../images/icon/color/icon_hello.svg");}
.ico-baseball{background-image:url("./../images/icon/color/icon_baseball.svg");}
.ico-medal{background-image:url("./../images/icon/color/icon_medal.svg");}
.ico-calendar{-webkit-mask-image:url("./../images/icon/mono/icon_calendar.svg");mask-image:url("./../images/icon/mono/icon_calendar.svg");-webkit-mask-repeat:no-repeat;mask-repeat:no-repeat;-webkit-mask-size:contain;mask-size:contain;-webkit-mask-position:center;mask-position:center;}
/* icons - team */
.ico-hanhwa{background:url(./../images/icon/team/icon_hanhwa.svg);}
.ico-doosan{background:url(./../images/icon/team/icon_doosan.svg);}
.ico-lg{background:url(./../images/icon/team/icon_lg.svg);}
.ico-kt{background:url(./../images/icon/team/icon_kt.svg);}
.ico-ssg{background:url(./../images/icon/team/icon_ssg.svg);}
.ico-nc{background:url(./../images/icon/team/icon_nc.svg);}
.ico-kiwoom{background:url(./../images/icon/team/icon_kiwoom.svg);}
.ico-kia{background:url(./../images/icon/team/icon_kia.svg);}
.ico-lotte{background:url(./../images/icon/team/icon_lotte.svg);}
.ico-samsung{background:url(./../images/icon/team/icon_samsung.svg);}

/* *********************** content *********************** */
.divider{display:block;width:100%;height:2px;margin:16px 0;background-color:var(--replace-e0e0e0);}

.steps{width:100%;}
.step-card{display:-webkit-flex;display:flex;flex-direction:column;gap:16px;width:100%;height:fit-content;}
.step-card .step-content{display:-webkit-flex;display:flex;justify-content:flex-start;align-items:center;width:100%;padding:24px 16px;min-height:115px;border:2px solid var(--border-color-prime);border-radius:16px;}
.step-card .step-content > i{flex:none;display:block;width:40px;height:40px;background-position:center;background-size:contain;background-repeat:no-repeat}
.step-card .step-content:nth-of-type(1) > i{background-image:url("./../images/icon/color/icon_number1.svg");}
.step-card .step-content:nth-of-type(2) > i{background-image:url("./../images/icon/color/icon_number2.svg");}
.step-card .step-content:nth-of-type(3) > i{background-image:url("./../images/icon/color/icon_number3.svg");}
.step-card .step-content dl{position:relative;display:-webkit-flex;display:flex;flex-direction:column;justify-content:space-between;width:100%;}
.step-card .step-content dl .step-title{color:var(--replace-333333);font:600 1.6rem/1.8rem "Pretendard Variable";}
.step-card .step-content dl .step-title + .step-desc{margin-top:5px;color:var(--replace-666666);font:400 1.4rem/1.96rem "Pretendard Variable";}
.step-card .step-content > i + dl {margin-left:16px;}

.info-box{display:-webkit-flex;display:flex;justify-content:center;align-items:center;width:100%;margin-top:24px;padding:10px 34px;min-height:63px;background-color:#F8F9FF;border:1px solid #E0E7FF;border-radius:12px;}
.info-box > p{position:relative;display:-webkit-flex;display:flex;justify-content:flex-start;align-items:flex-start;font:500 1.2rem/2.24rem "Pretendard Variable";color:#667EEA;text-align:center;word-break:break-all;}
.info-box > p:before{content:'';display:block;width:16px;height:17px;margin:0.3rem 0.3rem 0 0;background:url("./../images/icon/color/icon_bulb.svg") center/contain no-repeat;}

.info-wrap{display:block;width:100%;padding:20px;background-color:#fff;border-radius:12px;box-shadow:var(--boxshadow-sm);}
.info-wrap .section-tit{margin-bottom:8px;font:300 1.3rem/1.3rem "Pretendard Variable";color:var(--replace-666666);}
.info-wrap .select-box{display:block;width:100%;border:2px solid var(--replace-e0e0e0);border-radius:8px;}
.info-wrap > .msg-box{background-color:var(--bg-color-sheer);border-radius:8px;}
.info-wrap > .msg-box [class^="ico-"]{width:1.8rem;height:1.8rem;background-color:var(--font-color-prime) !important;}
.info-wrap .select-box + .msg-box{margin-top:8px;}
.info-wrap .select-box .select{display:block;width:100%;height:100%;padding:12px 16px;text-align:left;background:none;border:none;}
.info-wrap .select-box .select > span{position:relative;display:-webkit-flex;display:flex;justify-content:space-between;align-items:center;font:700 1.5rem/1.7rem "Pretendard Variable";color:var(--replace-000000);}
.info-wrap .select-box .select > span:after{content:'';display:block;width:1.8rem;height:1.8rem;-webkit-mask-image:url("./../images/icon/color/icon_arrow_down.svg");mask-image:url("./../images/icon/color/icon_arrow_down.svg");-webkit-mask-repeat:no-repeat;mask-repeat:no-repeat;-webkit-mask-size:contain;mask-size:contain;background-color:var(--bg-color-prime);}
.section-wrap{display:-webkit-flex;display:flex;flex-wrap:wrap;justify-content:space-between;align-items:center;gap:12px;width:100%;}
.section-wrap > .info-wrap:not(:nth-of-type(3n + 1)){flex:1;}
.info-wrap + .section-wrap{margin-top:20px;}
.info-wrap [class^="count-"]{margin-right:4px;font:700 2.8rem/2.8rem "Pretendard Variable";color:var(--replace-333333);}
.info-wrap .count-num{color:var(--font-color-prime);}
.info-wrap .info-desc{font:300 1.6rem/1.6rem "Pretendard Variable";color:var(--replace-666666);white-space:nowrap;}
.info-wrap .info-desc:has(.count-percent){font-weight:bold;}
.info-wrap .info-desc:has(.count-outcome){text-align:right;}
.section-wrap + .info-wrap{margin-top:20px;}
.info-wrap .time-table{display:-webkit-flex;display:flex;flex-direction:column;gap:12px;width:100%;}
.info-wrap .time-table li{display:-webkit-flex;display:flex;justify-content:center;align-items:center;padding:0 16px;height:46px;background-color:var(--replace-f9f9f9);border-radius:8px;}
.info-wrap .time-table li > dl{display:-webkit-flex;display:flex;justify-content:space-between;align-items:center;width:100%;font:600 1.4rem/1.4rem "Pretendard Variable";color:var(--replace-666666);}
.info-wrap .time-table li > dl .match-result{display:block;padding:4px 8px;width:37px;text-align:center;border-radius:6px;}
.info-wrap .time-table li > dl .match-result.win{background-color:#DCFCE7;color:#16A34A;}
.info-wrap .time-table li > dl .match-result.lose{background-color:#FEE2E2;color:#DC2626;}

.nav-menu{position:fixed;bottom:0;width:100%;padding:0 20px 20px;background-color:#fff;border-top:2px solid var(--replace-f9f9f9);}
.nav-menu ul{display:-webkit-flex;display:flex;justify-content:center;align-items:center;width:100%;height:58px;}
.nav-menu ul li{width:100%;height:100%;}
.nav-menu ul li a{display:-webkit-flex;display:flex;flex-direction:column;justify-content:center;align-items:center;gap:6px;width:100%;height:100%;text-decoration:none;}
.nav-menu ul li a > i{width:18px;height:18px;background-color:var(--replace-666666);-webkit-mask-repeat:no-repeat;mask-repeat:no-repeat;-webkit-mask-size:contain;mask-size:contain;}
.nav-menu ul li:nth-of-type(1) a > i{-webkit-mask-image:url("./../images/icon/mono/icon_home.svg");mask-image:url("./../images/icon/mono/icon_home.svg");}
.nav-menu ul li:nth-of-type(2) a > i{-webkit-mask-image:url("./../images/icon/mono/icon_record1.svg");mask-image:url("./../images/icon/mono/icon_record1.svg");}
.nav-menu ul li:nth-of-type(3) a > i{-webkit-mask-image:url("./../images/icon/mono/icon_record2.svg");mask-image:url("./../images/icon/mono/icon_record2.svg");}
.nav-menu ul li a > span{font:500 1.5rem/1.5rem "Pretendard Variable";color:var(--replace-666666);text-align:center;}
.nav-menu ul li a[aria-current="page"] > span{color:var(--font-color-prime);}
.nav-menu ul li a[aria-current="page"] > i{background-color:var(--bg-color-prime);}

.msg-box{display:-webkit-flex;display:flex;justify-content:flex-start;align-items:center;padding:13px 12px;width:100%;}
.msg-box i{display:block;width:1.3rem;height:1.3rem;}
.msg-box dl{display:-webkit-flex;display:flex;justify-content:flex-start;align-items:center;width:100%;}
.msg-box dl dt,
.msg-box dl dd{position:relative;font:400 1.3rem/1.3rem "Pretendard Variable";color:var(--font-color-prime);word-break:break-all;}
.msg-box dl dt{padding-right:6px;white-space:nowrap;}
.msg-box dl dt:after{content:':';display:block;width:2px;height:100%;position:absolute;right:3px;top:0;}
.msg-box i + dl{margin-left:4px;}

/* *********************** button *********************** */
[class^=btn-comm-]{display:-webkit-flex;display:flex;justify-content:center;align-items:center;width:100%;background-color:#fff;border:none}
[class^=btn-comm-].sm{height:51px;border-radius:12px;}
[class^=btn-comm-] > span{word-break:keep-all;white-space:nowrap;}
[class^=btn-comm-].sm > span{font:400 1.5rem/1.8rem "Pretendard Variable";}
[class^=btn-comm-].mid{border-radius:16px;}
[class^=btn-comm-].lg{border-radius:24px;}
[class^=btn-comm-][disabled]{background:var(--replace-cccccc) center/contain no-repeat;box-shadow:none;}
[class^=btn-comm-] + .skip-link{margin-top:16px;}
[class^=btn-comm-] > .icon {display:block;width:20px;height:20px;}
[class^=btn-comm-] > .icon + span {margin-left:12px;}
.btn-comm-prime,
.btn-comm-main{height:58px;border:none;border-radius:12px;}
.btn-comm-prime{background-color:var(--bg-color-prime);}
.btn-comm-main{background:linear-gradient(135deg, #667eea 0%, #764ba2 100%);box-shadow:var(--boxshadow-default);}
.btn-comm-prime span{font:700 1.6rem/1.9rem "Pretendard Variable";color:#fff;}
.btn-comm-main span{font:700 1.7rem/2rem "Pretendard Variable";color:#fff;}
.btn-comm-line{border:1px solid var(--border-color-default);}
.btn-comm-default.kakao{background-color:#FEE500;}
[class$="-link"]{display:-webkit-flex;display:flex;width:100%;justify-content:center;align-items:center;}
[class$="-link"] > a{text-decoration:none;}
[class$="-link"] > a > span{position:relative;font:500 1.4rem/1.4rem "Pretendard Variable";}
.skip-link > a > span{color:var(--replace-999999);}
.skip-link > a > span:after{content:'';position:absolute;left:0;bottom:-1px;width:100%;border-bottom:1px solid var(--replace-999999);}
.btn-link{margin-top:36px;}
.btn-link > a > span{color:var(--font-color-prime);}
.btn-link > a > span:after{border-bottom:1px solid var(--border-color-prime);}

/* btn-wrap */
.btn-wrap{display:-webkit-flex;display:flex;flex-direction:column;align-items:center;gap:16px;width:100%;}

/* *********************** form-group *********************** */
.form-group-wrap{display:block;width:100%;}
.form-group{display:-webkit-flex;display:flex;flex-direction:column;justify-content:center;align-items:flex-start;width:100%;height:fit-content;}
.form-group + .form-group{margin-top:24px;}
.form-group .form-tit{display:block;width:100%;font:600 1.5rem/1.5rem "Pretendard Variable";color:var(--replace-333333);}
.form-group .form-item{position:relative;background-color:#fff;border:2px solid var(--replace-e0e0e0);border-radius:10px;}
.form-group > .form-item{display:block;width:100%;padding:11px 16px 9px;}
.form-group > .form-tit{margin-bottom:10px;}
.form-group > .form-tit > span{position:relative;}
.form-group > .form-tit:has(+ .form-item input[required]) > span:after,
.form-group > .form-tit:has(+ .group-wrap .form-item input[required]) > span:after
{content:'';position:absolute;right:-0.8rem;top:0.3rem;width:0.5rem;height:0.5rem;background-color:var(--point-red);border-radius:100%}
.form-group .form-item > input[type="text"]{display:block;width:100%;height:100%;color:var(--replace-666666);font:400 1.5rem/1.8rem "Pretendard Variable";}
.form-group .form-item > input[type="text"]::placeholder{color:var(--replace-757575);}
.form-group > .group-wrap{display:-webkit-flex;display:flex;flex-wrap:wrap;gap:8px;justify-content:space-between;width:100%;}
.form-group > .group-wrap .form-item{display:-webkit-flex;display:flex;justify-content:center;align-items:center;width:calc(50% - 4px);padding:15px 0 13px;}
.form-group > .group-wrap .form-item:has(input[type="radio"]:checked){background-color:var(--bg-color-prime);border-color:var(--border-color-prime);}
.form-group > .group-wrap .form-item:nth-of-type(odd):last-of-type{width:100%;}
.form-group .form-item > .rd-btn-txt{display:block;width:100%;color:var(--replace-757575);font:400 1.5rem/1.8rem "Pretendard Variable";text-align:center;}
.form-group > .group-wrap .form-item:has(input[type="radio"]:checked) > .rd-btn-txt{color:#fff;}
.form-group .form-item > input[type="radio"],
.form-group .radio-btn label > input[type="radio"]{position:absolute;left:0;top:0;right:0;width:100%;height:100%;padding:0;margin:0;border:0;overflow:hidden;clip:rect(0,0,0,0);}
.form-msg{margin:10px 0 0 8px;font:400 1.3rem/1.3rem "Pretendard Variable";color:var(--replace-999999);}
.form-group .radio-btn{position:relative;display:block;width:100%;}
.form-group .radio-btn + .radio-btn{margin-top:16px;}
.form-group .radio-btn label{display:-webkit-flex;display:flex;justify-content:flex-start;align-items:center;width:100%;padding:20px 24px;background-color:#fff;border:2px solid var(--replace-e0e0e0);border-radius:16px;}
.form-group .radio-btn label:has(input[type="radio"]:checked){background-color:var(--bg-color-prime);border-color:var(--border-color-prime);box-shadow:var(--boxshadow-default);}
.form-group .radio-btn label > .txt-wrap{display:-webkit-flex;display:flex;flex-direction:column;}
.form-group .radio-btn label > i + .txt-wrap{margin-left:16px;}
.form-group .radio-btn label > .txt-wrap .tit{font:500 1.8rem/2.4rem "Pretendard Variable";color:var(--replace-000000);}
.form-group .radio-btn label > .txt-wrap .desc{font:400 1.3rem/1.7rem "Pretendard Variable";color:var(--replace-999999);}
.form-group .radio-btn label > .txt-wrap .tit + .desc{margin-top:4px;}
.form-group .radio-btn label:has(input[type="radio"]:checked) > .txt-wrap span{color:#fff;}
.form-group > .group-wrap .data-input-box{padding:15px 0 13px;width:100%;border:2px solid var(--replace-e0e0e0);border-radius:10px;}
.form-group > .group-wrap .data-input-box span{color:var(--replace-757575);font:400 1.5rem/1.8rem "Pretendard Variable";}

.progress-bar{position:relative;display:-webkit-flex;display:flex;justify-content:space-between;align-items:center;gap:8px;margin-bottom:36px;width:12rem;height:4px;}
.progress-bar .progress-step{display:block;width:calc(100% / 4);height:100%;background-color:var(--bg-color-prime);border-radius:2px;}
.progress-bar .progress-step.active{background-image:linear-gradient(to right, var(--bg-color-prime) 50%, var(--bg-color-default) 50%);background-size:200% 100%;background-position:100% 0;animation:slideFill 1s ease-out forwards;}
.progress-bar .progress-step.active ~ .progress-step{background-color:var(--bg-color-default);}
/* progress-bar animation */
@keyframes slideFill{
    from{background-position:100% 0;}
    to{background-position:0 0;}
}

.team-grid ul{display:-webkit-flex;display:flex;flex-wrap:wrap;justify-content:center;align-items:center;width:100%;height:fit-content;gap:10px;}
.team-grid ul li{position:relative;display:-webkit-flex;display:flex;flex-direction:column;justify-content:center;align-items:center;gap:8px;width:calc(50% - 5px);height:115px;background-color:#fff;border-radius:14px;}
/* button - default */
.team-grid ul li label{width:100%;height:100%;}
.team-grid ul li:has(label[for="none"]){width:100%;height:63px;border:2px solid var(--replace-e0e0e0);}
.team-grid ul li:has(label[for="hanhwa"]){border:2px solid var(--prime-color-hanhwa);}
.team-grid ul li:has(label[for="doosan"]){border:2px solid var(--prime-color-doosan);}
.team-grid ul li:has(label[for="lg"]){border:2px solid var(--prime-color-lg);}
.team-grid ul li:has(label[for="kt"]){border:2px solid var(--prime-color-kt);}
.team-grid ul li:has(label[for="ssg"]){border:2px solid var(--prime-color-ssg);}
.team-grid ul li:has(label[for="nc"]){border:2px solid var(--prime-color-nc);}
.team-grid ul li:has(label[for="kiwoom"]){border:2px solid var(--prime-color-kiwoom);}
.team-grid ul li:has(label[for="kia"]){border:2px solid var(--prime-color-kia);}
.team-grid ul li:has(label[for="lotte"]){border:2px solid var(--prime-color-lotte);}
.team-grid ul li:has(label[for="samsung"]){border:2px solid var(--prime-color-samsung);}
/* button - checked */
.team-grid ul li:has(label > input[type="radio"]:checked){box-shadow:var(--boxshadow-default);}
.team-grid ul li:has(label[for="hanhwa"] > input[type="radio"]:checked){background-color:var(--prime-color-hanhwa);}
.team-grid ul li:has(label[for="doosan"] > input[type="radio"]:checked){background-color:var(--prime-color-doosan);}
.team-grid ul li:has(label[for="lg"] > input[type="radio"]:checked){background-color:var(--prime-color-lg);}
.team-grid ul li:has(label[for="kt"] > input[type="radio"]:checked){background-color:var(--prime-color-kt);}
.team-grid ul li:has(label[for="ssg"] > input[type="radio"]:checked){background-color:var(--prime-color-ssg);}
.team-grid ul li:has(label[for="nc"] > input[type="radio"]:checked){background-color:var(--prime-color-nc);}
.team-grid ul li:has(label[for="kiwoom"] > input[type="radio"]:checked){background-color:var(--prime-color-kiwoom);}
.team-grid ul li:has(label[for="kia"] > input[type="radio"]:checked){background-color:var(--prime-color-kia);}
.team-grid ul li:has(label[for="lotte"] > input[type="radio"]:checked){background-color:var(--prime-color-lotte);}
.team-grid ul li:has(label[for="samsung"] > input[type="radio"]:checked){background-color:var(--prime-color-samsung);}
.team-grid ul li > .team-btn{display:-webkit-flex;display:flex;flex-direction:column;justify-content:center;align-items:center;gap:8px;}
.team-grid ul li > .team-btn > input[type="radio"]{position:absolute;left:0;top:0;right:0;width:100%;height:100%;padding:0;margin:0;border:0;overflow:hidden;clip:rect(0,0,0,0);}
.team-grid ul li > .team-btn > input[type="radio"]:checked{}
.team-grid ul li > .team-btn > .team-name{font:700 1.4rem/1.82rem "Pretendard Variable";text-align:center;}
.team-grid ul li label[for="none"] > .team-name{color:var(--replace-666666);}
.team-grid ul li label[for="hanhwa"] > .team-name{color:var(--prime-color-hanhwa);}
.team-grid ul li label[for="doosan"] > .team-name{color:var(--prime-color-doosan);}
.team-grid ul li label[for="lg"] > .team-name{color:var(--prime-color-lg);}
.team-grid ul li label[for="kt"] > .team-name{color:var(--prime-color-kt);}
.team-grid ul li label[for="ssg"] > .team-name{color:var(--prime-color-ssg);}
.team-grid ul li label[for="nc"] > .team-name{color:var(--prime-color-nc);}
.team-grid ul li label[for="kiwoom"] > .team-name{color:var(--prime-color-kiwoom);}
.team-grid ul li label[for="kia"] > .team-name{color:var(--prime-color-kia);}
.team-grid ul li label[for="lotte"] > .team-name{color:var(--prime-color-lotte);}
.team-grid ul li label[for="samsung"] > .team-name{color:var(--prime-color-samsung);}
.team-grid ul li label input[type="radio"]:not(#none):checked + .team-name{color:#fff;}
.team-grid ul li label > i{display:block;width:2.8rem;height:2.8rem;background-position:center;background-size:contain;background-repeat:no-repeat;}
.team-grid ul li label[for="hanhwa"] > i{background-image:url(./../images/icon/team/icon_hanhwa.svg);}
.team-grid ul li label[for="doosan"] > i{background-image:url(./../images/icon/team/icon_doosan.svg);}
.team-grid ul li label[for="lg"] > i{background-image:url(./../images/icon/team/icon_lg.svg);}
.team-grid ul li label[for="kt"] > i{background-image:url(./../images/icon/team/icon_kt.svg);}
.team-grid ul li label[for="ssg"] > i{background-image:url(./../images/icon/team/icon_ssg.svg);}
.team-grid ul li label[for="nc"] > i{background-image:url(./../images/icon/team/icon_nc.svg);}
.team-grid ul li label[for="kiwoom"] > i{background-image:url(./../images/icon/team/icon_kiwoom.svg);}
.team-grid ul li label[for="kia"] > i{background-image:url(./../images/icon/team/icon_kia.svg);}
.team-grid ul li label[for="lotte"] > i{background-image:url(./../images/icon/team/icon_lotte.svg);}
.team-grid ul li label[for="samsung"] > i{background-image:url(./../images/icon/team/icon_samsung.svg);}

.signup-section{display:-webkit-flex;display:flex;justify-content:center;align-items:center;flex-direction:column;width:100%;}
.signup-section > .desc{text-align:center;font:400 1.3rem/1.6rem "Pretendard Variable";color:var(--replace-999999);}
.signup-section > .desc + .btn-link{margin-top:16px;}

.option-btn-wrap{display:-webkit-flex;display:flex;flex-direction:column;justify-content:flex-start;align-items:flex-start;gap:6px;}
.option-btn-wrap > li{width:100%;}
.option-btn-wrap > li .option{padding:16px 0;width:100%;height:100%;text-align:left;}
.option-btn-wrap > li .option > span{position:relative;display:-webkit-flex;display:flex;justify-content:space-between;align-items:center;font:400 1.6rem/1.6rem "Pretendard Variable";color:var(--replace-333333);}
.option-btn-wrap > li .option[aria-selected="true"] > span:after{content:'';display:block;width:3rem;height:3rem;background-color:var(--bg-color-prime);-webkit-mask-image:url("./../images/icon/color/icon_checked.svg");mask-image:url("./../images/icon/color/icon_checked.svg");-webkit-mask-repeat:no-repeat;mask-repeat:no-repeat;-webkit-mask-size:2.2rem;mask-size:2.2rem;}

/* *********************** modal *********************** */
.modal-tit{font:600 1.6rem/1.6rem "Pretendard Variable";color:var(--replace-333333);}
.modal-tit + .close-md{display:block;padding:4px;width:18px;height:18px;background-color:transparent;background-image:url("./../images/icon/mono/icon_close.svg");background-repeat:no-repeat;background-size:contain;border:none;}

/* *********************** side menu *********************** */
.side-menu{display:none;position:fixed;left:0;top:0;right:0;width:100%;height:100%;background-color:rgba(0,0,0,0.6);z-index:1300;}
.side-menu.show{display:block;animation:showDim 0.5s ease-out forwards;}
@keyframes showDim{
    from{opacity:0;}
    to{opacity:1;}
}
.side-menu .menu-wrap{position:absolute;top:0;right:0;bottom:0;width:80vw;background-color:#fff;}
.side-menu.show .menu-wrap{transform:translateY(0);opacity:1;animation:slideLtoR 0.3s ease-out forwards;}
@keyframes slideLtoR{
    from{
        transform:translateX(100%);
        opacity:0;
    }
    to{
        transform:translateX(0);
        opacity:1;
    }
}
.side-menu .menu-wrap .menu-content .menu-header{padding:20px;background-color:var(--bg-color-prime);}
.side-menu .menu-wrap .menu-content .menu-header >div{font:700 2rem/2rem "Pretendard Variable";color:#fff;}
.side-menu .menu-wrap .menu-content .menu-header .nickname{color:#fff;}
.side-menu .menu-wrap .menu-content .menu-header .team-name + .nickname{margin-top:6px;font:700 1.4rem/1.4rem "Pretendard Variable";color:rgba(255,255,255,0.9);}
.side-menu .menu-wrap .menu-content .menu-header .nickname > em{margin-right:4px;}
.side-menu .menu-wrap .menu-content .menu-body{padding:20px;}
.side-menu .menu-wrap .menu-content .menu-body ul{}
.side-menu .menu-wrap .menu-content .menu-body ul li{}
.side-menu .menu-wrap .menu-content .menu-body ul li a{display:-webkit-flex;display:flex;justify-content:flex-start;align-items:center;width:100%;padding:16px 0;text-decoration:none;color:var(--replace-000000);}
.side-menu .menu-wrap .menu-content .menu-body ul li a > i{display:block;width:2rem;height:2rem;background-color:var(--bg-color-prime);-webkit-mask-repeat:no-repeat;mask-repeat:no-repeat;-webkit-mask-size:contain;mask-size:contain;-webkit-mask-position:center;mask-position:center;}
.side-menu .menu-wrap .menu-content .menu-body ul li:nth-of-type(1) a > i{-webkit-mask-image:url("./../images/icon/mono/icon_baseball.svg");mask-image:url("./../images/icon/mono/icon_baseball.svg");}
.side-menu .menu-wrap .menu-content .menu-body ul li:nth-of-type(2) a > i{-webkit-mask-image:url("./../images/icon/mono/icon_change.svg");mask-image:url("./../images/icon/mono/icon_change.svg");}
.side-menu .menu-wrap .menu-content .menu-body ul li:nth-of-type(3) a > i{-webkit-mask-image:url("./../images/icon/mono/icon_email.svg");mask-image:url("./../images/icon/mono/icon_email.svg");}
.side-menu .menu-wrap .menu-content .menu-body ul li a > span{margin-left:4px;font:500 1.5rem/1.5rem "Pretendard Variable";}
.side-menu .menu-wrap .menu-content .menu-body ul li button{padding:16px 0;}
.side-menu .menu-wrap .menu-content .menu-body ul li button > span{font:500 1.5rem/1.5rem "Pretendard Variable";color:var(--point-red);}

.calendar-wrap{position:relative;display:block;width:100%;height:100%;}
.calendar-wrap .calender-head{display:-webkit-flex;display:flex;width:100%;justify-content:space-between;align-items:center;padding:10px 20px;margin-bottom:30px;}
.calendar-wrap .calender-head .nav-btn{display:block;width:30px;height:30px;background-size:contain;background-position:center;background-repeat:no-repeat;}
.calendar-wrap .calender-head .nav-btn:first-of-type{background-image:url("./../images/icon/mono/icon_expand_left.svg");}
.calendar-wrap .calender-head .nav-btn:last-of-type{background-image:url("./../images/icon/mono/icon_expand_right.svg");}
.calendar-wrap .calender-head .month-tit{font:700 1.8rem/1.8rem "Pretendard Variable";}
.calendar-wrap .data-table{width:100%;border-collapse:collapse;table-layout:fixed;}
.calendar-wrap .data-table thead{width:100%;}
.calendar-wrap .data-table thead th{padding:7px 0;width:100%;text-align:center;font:500 1.4rem/1.4rem "Pretendard Variable";color:var(--replace-000000);}
.calendar-wrap .data-table thead th:first-of-type{color:var(--point-red);}
.calendar-wrap .data-table thead th:last-of-type{color:var(--point-blue);}
.calendar-wrap .data-table thead tr{width:100%;}
.calendar-wrap .data-table thead tr th{}
.calendar-wrap .data-table tbody{position:relative;width:100%;}
.calendar-wrap .data-table tbody tr{}
.calendar-wrap .data-table tbody tr td{width:44px;height:44px;text-align:center;vertical-align:middle}
.calendar-wrap .data-table tbody tr td > .date-btn{width:100%;height:100%;}
.calendar-wrap .data-table tbody tr td > .date-btn.today{position:relative;border-radius:100%;color:var(--point-blue);}
.calendar-wrap .data-table tbody tr td > .date-btn.today:after{content:'오늘';position:absolute;left:0;right:0;bottom:-0.1rem;font:400 1.2rem/1.2rem "Pretendard Variable";}
.calendar-wrap .data-table tbody tr td > .date-btn[aria-selected="true"]{color:#fff;background-size:36px;background-color:var(--point-blue);border-radius:100%;}
.calendar-wrap .data-table tbody tr td > .date-btn[aria-selected="true"]:after{display:none;}

.picker-group{display:-webkit-flex;display:flex;justify-content:center;align-items:center;height:20rem;}
.picker-group .wheel-wrapper{}
.picker-group .wheel-wrapper .wheel-scroll{}
.picker-group .colon{}
.picker-group .colon + .wheel-wrapper{}
.picker-group .colon + .wheel-wrapper .wheel-scroll{}
.picker-group .colon + .wheel-wrapper .picker-mask{}